<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Angular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Angular</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="primary" routerLink="/ngfor">ngFor</ion-button>
  <br>
  <ion-button color="success" (click)="pagNgfor()">ngFor</ion-button>
  <br>
  <ion-button color="secondary" routerLink="/ngif">ngIf</ion-button>
  <br>
  <ion-button color="success" (click)="pagNgif()">ngIf</ion-button>
  <br>
  <ion-button color="tertiary" routerLink="/ngifcontatos">ngIfContatos</ion-button>
  <br>
  <ion-button color="success" (click)="pagNgifContac()">ngIfContatos</ion-button>

</ion-content>